<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./mypage/common.css">
    <link rel="stylesheet" href="./mypage/mypageReset.css">
    <link rel="stylesheet" href="./mypage/userUpdate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <nav class="header-top">               
            <nav class="nav-wrap">
                <div class="logo">
                    <a th:href="@{/index}"><img src="./images/nocolorlogo.png" alt=""></a>
                </div>
                <ul>
                    <a th:href="@{/board/boardNotice}"><li>공지사항</li></a>
                    <a th:href="@{/board/boardQnA}"><li>QnA</li></a>
                    <a th:href="@{/board/boardReview}"><li>약 복용 후기</li></a>
                    <a th:href="@{/board/boardList}"><li>약 목록</li></a>
                    <form action="">
                        <li class="search">
                            <input type="text" placeholder="약명으로 검색하기">
                            <span></span>
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </li>
                    </form>
                </ul>
            </nav>
        </nav>
    </header>
     
    <main>
        
        <div class="main-header">
            <div class="main-content">                
                <aside class="mypage-aside">
                    <div class="aside-title">                        
                        <div class="title-letter">
                            <strong>김회원</strong>님
                            <p><i class="fa-regular fa-envelope"></i> rlaghldnjs@gmail.com</p>
                        </div>

                    </div>

                    <hr class="mypage-hr">

                    <ul>
                        <li><i class="fa-solid fa-user-pen"></i> 회원 정보 수정</li>
                        <li><i class="fa-solid fa-capsules"></i> 저장한 약 정보</li>
                        <li><i class="fa-solid fa-clipboard"></i> 내가 쓴 게시글</li>
                        <li><i class="fa-solid fa-right-from-bracket"></i> 회원 탈퇴</li>
                    </ul>

                    <hr class="mypage-hr">

                    <div class="logout-box">
                        <button class="logout-btn">로그아웃</button>
                    </div>
                </aside>
                <div class="content-container">
                    <div class="sub-title-box">
                        <h2>마이페이지</h2>
                        <p><i class="fa-solid fa-house"></i><a href="./home.html"> <span>홈</span> </a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="./home.html"><strong>회원 정보 수정</strong></a>
                        </p>
                    </div>
                    <div class="content-wrap">

                    </div>     
                </div>     
            </div>
        </div>
        
    </main>

    <footer>
        <div class="footer_container">
            <div class="copyright">
                <p>
                    <span>개인정보처리방침</span><br>
                    [고객센터] 이용문의 TEL 010-1234-5678 <br>
                    [개인정보보호위원회] (03171) 서울특별시 종로구 세종대로209(정부서울청사 4층) <br>
                    [한국인터넷진흥원] (58324) 전라남도 나주시 진흥길 9 한국인터넷진흥원<br>
                    Copyright © Personal Information Protection Commission. All right reserved
                </p>
            </div>

            <div class="foot-logo">
                <a th:href="@{/index}"><img src="./images/nocolorlogo.png" alt=""></a>
            </div>
        </div>
    </footer>
</body>
</html> 