<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 페이지> ajax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <form>
        <ul>
            <li>
                <label>이메일</label>
                <input type="text" class="email"/>
            </li>
            <li>
                <label>비밀번호</label>
                <input type="password" class="passwd"/>
            </li>
            <li>
                <button class="btn">회원가입</button>
            </li>
        </ul>
    </form>

    <script>
        let btn = document.querySelector(".btn");


        btn.addEventListener('click', function(e){
            e.preventDefault();

            let emailValue = document.querySelector(".email").value
            let passwdValue = document.querySelector(".passwd").value

            let obj = {
               Email: emailValue,
               passwd: passwdValue
            };

           $.ajax({
                type: "post",
                dataType: "json",
                url: "/users/register",
                data: obj,
                success: function(result){
<!--                    document.querySelector(".email").value = "";-->
<!--                    document.querySelector(".passwd").value = "";-->
<!--                    alert(result.msg);-->

<!--                    document.querySelector(".email").focus();-->
<!--                    if(result.status='200'){-->
<!--                    alert(result.msg);-->
<!--                    }-->

                        /*for(let 별명 in 객체명) {}*/
                        for(let res in result){
                       <!-- console.log(`키값은 ${res}입니다.`)-->
                       <!-- console.log(`출력되는 값은 ${result[res]}입니다.}`)-->
                        if(result[res] == "200"){
                            alert(result["msg"]);
                        }
                        }


                }
           });

        });
    </script>
</body>
</html>