@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}



ul li {
    list-style: none;
    
}


img {
    width:100%;
    
}

a {
    text-decoration: none;
    color: #000;
}

/* ----------- reset ----------- */

.header-top{
    width: 100%;    
    background-color: rgba(16, 78, 16, 0.8);
    text-align: center;    
}

.header-wrap{
    width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.nav-wrap {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
   
}

.nav-title ul{
    display: flex;
    justify-content: space-between;
    padding: 45px 0 15px 0;    
}

.nav-title li i{
    margin-right: 10px;
}

.nav-title li h2{
    font-weight: bold;
}

.nav-menu{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;    
}

.nav-menu ul li{
    font-weight: bold;
    font-size: 14px;
}

.bg{
    width: 100%;
    height: 600px;
    background-color: #eee;
    padding: 15px 0;
}

.bg-wrap {
    width: 1400px;
    height: 100%;  
    margin: 0 auto; 
    background-image: url('../images/thisisengineering-raeng-64YrPKiguAE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}




