<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<a href="/">메인페이지</a>
<a href="/users/login">로그인</a>

    <h1>회원가입 페이지</h1>
    <p></p>
    <button class="btn1">서버 정보 가져오기</button>
    <button class="btn2">클라이언트가 서버로 정보 보내기</button>

    <script>
        document.querySelector(".btn1").addEventListener('click',(e)=>{
            e.preventDefault();

            //jquery
            $.ajax({
                type: "get",
                url: "/users/getAjax",
                dataType: "json",
                success: function(result){
                 //화면에 표시
                 //console.log(result.userid);
                 //console.log(result.passwd);

                 let res = result.userid+ " " + result.passwd;
                 document.querySelector("p").innerText = res;
                }

            });

        });

        document.querySelector(".btn2").addEventListener('click',(e)=>{
            e.preventDefault();
            let obj = {
                userid: "busankorea",
                passwd: "1234"
            };

            //jquery
            $.ajax({
                type: "post",
                url: "/users/setAjax",
                dataType: "json",
                data: obj,
                success: function(result){
                    alert(result.msg);
                }

            });

        });

    </script>
</body>
</html>