@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1920px; /*원 이미지 크기보다 사이즈를 크게 잡으면 똑같은 이미지를 반복해서 너비를 맞춤*/
    height: 500px;
    background-image: url('../images/cook.jpg');   /*경로가 바뀌면 앞에 ../ */
    background-repeat: no-repeat; /*똑같은 이미지 반복x*/
    background-size: cover; /*책정한 너비만큼 사진을 늘리거나 줄임*/
    background-position: center; /*이미지 중심을 어디로 잡을건지*/
}

.content-wrap {
    width: 1200px;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    
    /* flex에서 세로 정렬은 높이 값 있어야함 */
    /* 세로 정렬을 위한 자식 사각형(block타입)은 하나만 있어야 */
    height: 500px;
    align-items: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.3);
    width: 600px;
    padding: 20px 10px;
}

.content h1 {
    font-size: 40px;
    color: rgb(34, 0, 187);
    margin-top: 20px;
    margin-bottom: 30px;
}
