<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>

        a{
            text-decoration: none;
            color: #333;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr{
            height: 45px;
        }

        td{
            border: 1px solid #ccc;
        }



    </style>
</head>
<body>
<a href="/member/add">Add Member</a>
<div class="container">
    <form action="">
        <table>
            <thead>
                <tr>
                    <td>Member No.</td>
                    <td>Member ID.</td>
                    <td>Member Pwd.</td>
                    <td>Member Marks.</td>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>
    </form>
</div>

    <script>
        $(function(){
          $.ajax({
            type: "get",
            url: "/member/getMembers",
            dataType: "json",
            success: function(res){
                //데이터(tr>td) 이어 붙이기
                let output ="";
                res.members.forEach((m)=>{
                    output += `
                    <tr>
                        <td>${m.num}</td>
                        <td>${m.userid}</td>
                        <td>${m.passwd}</td>
                        <td>
                            <a href="">수정</a>
                            <a href="">삭제</a>
                        </td>
                    </tr>`;
                });

                document.querySelector("tbody").innerHTML = output;

            }
          });
        });
    </script>

</body>
</html>